.menuList {
  list-style-type: none;
  margin: 0;
  padding-left: 16px;
}

.menuItem {
  margin-bottom: 12px;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.menuLink:hover {
  background-color: #444;
  color: #ddd;
}
